// Define variables for your color scheme

// For example:
$red: #F56476;
$blue: #167FFB;
$yellow: #FEDC97;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$blueish-background: #E5E5EB;
$light-gray: #F4F4F4;
$primary-green: #06D6A0;
$primary-blue: #161032;
$electric-blue: #279AF1;
