<div class="action-bar d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 text-center">
        <%= link_to new_dashboard_twitter_block_path(@dashboard) do %>
        <ul>
          <div class="action-cta">
            <div class="action-cta-content">
              <li><i class="fak fa-add-block"></i></li>
              <li><p>Add a Twitter block</p></li>
            </div>
          </div>
        </ul>
        <% end %>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 text-center">
        <%= link_to new_dashboard_news_block_path(@dashboard) do %>
        <ul>
          <div class="action-cta">
            <div class="action-cta-content">
              <li><i class="fak fa-add-block"></i></li>
              <li><p>Add a News block</p></li>
            </div>
          </div>
        </ul>
        <% end %>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 text-center">
        <%= link_to new_dashboard_twitter_block_path(@dashboard) do %>
        <ul>
          <div class="action-cta">
            <div class="action-cta-content">
              <li><i class="fak fa-add-block"></i></li>
              <li><p>Add a Key figures block</p></li>
            </div>
          </div>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
