<div class="blue-background row d-flex align-items-center block-placeholder">
      <div class="col-12">
        <div class="container p-5">
          <p style="color: white !important;" class="back-link">
            <i class="far fa-arrow-left"></i>
            <%= link_to 'Back to previous page', :back %>
          </p>
          </a>
          <h3 style="color: white;" class="mb-5">Add a Twitter block to my Dashboard</h3>>
          <%= render 'form_new' %>
        </div>
</div>
