<div class="animated_banner" data-controller="banner" style="background: rgb(62,54,98);
background: linear-gradient(180deg, rgba(62,54,98,1) 0%, rgba(22,16,50,1) 100%);" data-midnight="transparent">
  <div class="container main-action">
    <div id="title" style="color: white;" class="mb-4">
      <h1>Update <span style="text-decoration: line-through;">your knowledge</span></h1>
      <h1>yourself</h1>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "search a block..."
        %>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <button class="primary-button">
          <%= link_to new_user_session_path, class: "primary-button" do %>
          <strong>Show me the data</strong>
          <i class="fas fa-search" style="color: white !important;"></i>
          <% end %>
          <span aria-hidden class="primary-button__glitch"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="d-inline-flex col-sm-12 col-md-6 col-lg-6">
  <h1>Discover the awesome blocks made by our community!</h1>
  </div>
  <div class="row justify-content-between">
    <div class="col-sm-12 col-md-4 col-lg-4" style="background-image: url(https://imagizer.imageshack.com/img923/4784/viyC6t.png); width: 356px; height: 356px; background-size: cover;">
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4" style="background-image: url(https://imagizer.imageshack.com/img924/4088/1Nzq7i.png); width: 356px; height: 356px; background-size: cover;">
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4" style="background-image: url(https://imagizer.imageshack.com/img923/710/YAd4Xa.png); width: 356px; height: 356px; background-size: cover;">
    </div>
  </div>
</div>

<div class="trending-section" style="height: 286px;">
  <div class="container">
    <div class="row justify-content-between align-self-center" style="background-color: $primary-blue;">
      <div class="col-sm-12 col-md-4 col-lg-4 d-flex" style="width: 356px; height: 356px;">
        <h3 class="align-self-center" style="color: white; position: relative; top: -34px;">
          These blocks are trending! Add one to your dashboard right now!
        </h3>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4" style="background-image: url(https://imagizer.imageshack.com/img923/4784/viyC6t.png); width: 356px; height: 356px; background-size: cover;">
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4" style="background-image: url(https://imagizer.imageshack.com/img924/4088/1Nzq7i.png); width: 356px; height: 356px; background-size: cover;">
      </div>
    </div>
  </div>
</div>

<div class="reassurance-section">
  <div class="container">
    <div class="row d-flex bd-highlight">
      <div class="bd-highlight col-sm-6 col-md-3 keynumber">
        <p style="color: white !important;">More than</p>
        <h1>25k</h1>
        <h3>dashboards</h3>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2" style="width: 20px;">
        <br>
      </div>
      <div class="bd-highlight col-sm-6 col-md-3 keynumber">
        <p style="color: white !important;">More than</p>
        <h1>42k</h1>
        <h3>dashers</h3>
      </div>
      <div class="bd-highlight ms-auto col-sm-12 col-md-4 col-lg-4 align-self-center">
        <h2>Join the network</h2>
        <p class="sub-heading">Be wise and up to date!</p>
        <button class="secondary-button">
          <%= link_to new_user_session_path, class: "secondary-button" do %>
            <strong>Become a dasher</strong>
            <i class="far fa-arrow-right" style="color: white !important;"></i>
            <span aria-hidden class="secondary-button__glitch"></span>
          <% end %>
        </button>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
