<div class="stats-page d-flex">
  <%= render partial: '/shared/sidebar' %>

  <div class="container notifications-container my-5 p-5 rounded justify-content-center">
    <div class="row">
    <h1 class="pb-2">Notifications</h1>
    <%= render 'shared/notification_card' %>
    </div>
  </div>
</div>
