<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/2.2.3/jquery.min.js"></script>

<div class="blue-background row d-flex align-items-center">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="container p-5">
          <p style="color: white !important;" class="back-link">
            <i class="far fa-arrow-left"></i>
            <%= link_to 'Back to previous page', :back %>
          </p>
          </a>
          <h3 style="color: white !important;" class="mb-5">Add a new Crypto Trend block to my Dashboard</h3>
          <%= simple_form_for([@dashboard, @messari_block], html: { class: "searchbox", data: {controller: "search-crypto"}}) do |f| %>
            <%= f.input :user_string, label: "Which coin are you looking for?", class:"form-control", input_html: { data: { search_crypto_target: "searchInput"}} %>
            <%= f.button :submit, "Add a chart block", class:"primary-button mt-2" %>
          <% end %>

                <button type="submit" title="Submit your search query." class="searchbox__submit" >
                <svg role="img" aria-label="Search">
                    </svg>
                  </button>
                <button type="reset" title="Clear the search query." class="searchbox__reset hide">

                </button>
              </div>
          </form>
</div>