.banner {
  background-size: cover;
  background-position: center;
  padding: 250px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 56px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  font-family: $body-font;
  color: $primary-blue;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.trending-section {
  background-color: $primary-blue;
  margin-top: 104px;
}
.reassurance-section {
  background-color: $primary-green;
}
