.blocks-card {
  background-color: white;
  text-align: center;
  border-radius: 7px;
  display: grid;
  grid: 1fr;
  height: 356px;
  width: 356px;
  box-shadow: rgba(147, 149, 175, 0.25) 0 6px 24px 0;
  position: relative;
  transition: box-shadow 0.2s;
  padding: 12px 0;
  margin: 12px 0px;
}
.empty-block-card {
  background-image: url(https://imagizer.imageshack.com/img923/7540/nCq6p6.png);
  text-align: center;
  border-radius: 7px;
  display: grid;
  grid: 1fr;
  height: 356px;
  width: 356px;
  position: relative;
  transition: box-shadow 0.2s;
  padding: 12px;
  margin: 12px 0px;
}

.blocks-card:hover {
  box-shadow: rgba(147, 149, 175, 0.85) 0 6px 24px 0;
}

.far.fa-trash-alt {
  color: $primary-blue !important;
  font-size: 20px;
}

.flexer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 18px;
  color: $primary-blue;
}

.search-tag {
  background-color: #e5e5eb;
  padding: 16px;
  border-radius: 48px;
  text-align: center;
}

.block-title {
  font-weight: 700;
}
.spaceholder {
  margin: 12px 0px;
  width: 356px;
  height: 356px;
}

.new-background {
  background-color: #f4f4f4 !important;
}
.fake-card {
  height: 356px;
  width: 356px;
}
@media screen and (max-width: 1080px) {
  .fake-card {
    width: 300px;
    height: 300px;
  }
}
