.blocks-card {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  border-radius: 7px;
  margin: 20px;
  display: grid;
  grid: 1fr;
  height: 356px;
  width: 356px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: relative;
  transition: box-shadow 0.2s;
}

.blocks-card:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  height: 360px;
  width: 360px;
}
