.primary-button {
  color: white;
  background-color: $primary-green;
  padding: 16px;
  text-decoration: none;
  border-radius: 8px;

  &:hover {
    background-color: #7AE1BA !important;
    color: white;
  }
  &:active {
    background-color: #7AE1BA !important;
    color: white;
  }
  &:visited {
    background-color: $primary-green !important;
    color: white;
  }
}
.secondary-button a, i {
  color: white !important;
}
.secondary-button {
  color: white;
  background-color: $primary-blue;
  padding: 16px;
  text-decoration: none;
  border-radius: 8px;

  &:hover {
    background-color: #2A2755 !important;
    color: white;
  }
  &:active {
    background-color: #2A2755 !important;
    color: white;
  }
  &:visited {
    background-color: $primary-blue !important;
    color: white;
  }
}
.search-nav {
  width: 40px;
  height: 40px;
  padding: 8px;
  border: solid 2px $primary-blue;
  border-radius: 50%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #06D6A0 !important;
  }
}

.search-i:hover {
      color: #06D6A0;
}

.nav-item a {
  margin: 0px 40px;
  color: black !important;
}
