.form-control {
  padding: 14px !important;
  border-radius: 8px;
  background-color: transparent !important;
  border: solid 2px $primary-blue !important;
}

.form-control:focus {
  color: $primary-blue !important;
}

#query {
  color: $primary-blue !important;
}

.string {
  color: $primary-blue;
}
.optional {
  color: $primary-blue;
}

.form-dark {
  padding: 14px !important;
  border-radius: 8px;
  // background-color: $primary-blue !important;
  border: solid 2px $primary-blue !important;
}
