.new-image {
  height: 100vh;
  background-image: url(https://imagizer.imageshack.com/img922/104/8zR702.png);
  background-size: cover;
}

.login-image {
  height: 100vh;
  background-image: url(https://imagizer.imageshack.com/img922/263/cUKkXO.png);
  background-size: cover;
}
.signup-image {
  height: 100vh;
  background-image: url(https://imagizer.imageshack.com/img923/6283/lwHJ2N.png);
  background-size: cover;
}
