.title-key {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #c8e6d8;
  margin: 10px;
  border-radius: 16px;
  vertical-align: baseline;
  flex-wrap: wrap;
  flex-wrap: 1;
}

.price-key {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #c8e6d8;
  margin: 10px;
  border-radius: 16px;
  flex-wrap: wrap;
  flex-wrap: 1;
}

.graph-key {
  padding: 10px;
  background-color: #c8e6d8;
  margin: 10px;
  border-radius: 16px;
}

// $red: #f56476;
// $blue: #167ffb;
// $yellow: #fedc97;
// $orange: #e67e22;
// $green: #1edd88;
// $gray: #0e0000;
// $blueish-background: #e5e5eb;
// $light-gray: #f4f4f4;
// $primary-green: #06d6a0;
// $primary-blue: #161032;
// $electric-blue: #279af1;
