.title-key {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: baseline;
  flex-wrap: wrap;
  flex-wrap: 1;
  margin-bottom: 18px;
}

.price-key {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-wrap: 1;
  margin-bottom: 20px;
}

.graph-key {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-wrap: 1;
  p {
    width: 9%;
  }
  .progress {
    width: 91%;
  }
}

.small-div {
  width: 29.5%;
  border: solid 1px $green;
  border-radius: 20px;
  margin: 0 5px;
  p {
    margin: 4px;
  }
}

.big-div-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-wrap: 1;
  width: 100%;
  border: solid 1px $green;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: none;
  margin: 0 5px;
  position: relative;
  img {
    position: absolute;
    left: 45%;
    bottom: -12px;
  }
  p {
    margin: 4px;
  }
}

.big-div-bot {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-wrap: 1;
  width: 100%;
  border: solid 1px $green;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0 5px;
  p {
    margin: 4px;
  }
}

// $red: #f56476;
// $blue: #167ffb;
// $yellow: #fedc97;
// $orange: #e67e22;
// $green: #1edd88;
// $gray: #0e0000;
// $blueish-background: #e5e5eb;
// $light-gray: #f4f4f4;
// $primary-green: #06d6a0;
// $primary-blue: #161032;
// $electric-blue: #279af1;
