.navbar-lewagon {
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  position: fixed;
}
.midnightHeader.default {
  background-color: white;
  color: $primary-blue;
}
.midnightHeader.transparent {
  background: transparent;
  .nav-item a{
    color: white !important;
  }
  .dlogo {
  filter: brightness(0) invert(1);
  }
}
.midnightInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.transparent-navbar {
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  position: fixed;
  background-color: transparent;
}
.white-navbar {
  background-color: white;
}
.white-navbar img {
  filter: brightness(0) invert(1);
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.nav-item a {
  color: $primary-blue !important;
}
.nav-item i {
  color: $primary-blue !important;
}
.navbar-lewagon .navbar-brand img {
  height: 34px;
}
.navbar-brand {
  font-family: "Vox-Bold";
}
