.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 2;
  width: 100%;
  position: fixed;
}
.home .navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  z-index: 2;
  position: fixed;
  filter: brightness(0) invert(1);
}
#avatar-invert {
  filter: brightness(1) invert(0) !important;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.nav-item a {
  color: $primary-blue !important;
}
.nav-item i {
  color: $primary-blue !important;
}
.navbar-lewagon .navbar-brand img {
  height: 34px;
}
.navbar-brand {
  font-family: "Vox-Bold";
}
