.sidebar {
  margin: 0;
  width: fit-content;
  background-color: #161032;
  height: calc(100vh - 60px);
  overflow: auto;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  z-index: 2;
  position: fixed;
}

.sidebar a {
  color: white;
  padding: 16px;
  text-decoration: none;
}


.sidebar a:hover:not(.active){
  color: #04AA6D;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.sidebar-icon {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  a {
    color: white !important ;
  }
  i {
    padding-inline: 10px;
  }
  p {
    margin: 0;
    color: white !important;
  }
  &.active {
    background-color: $green;
    i {
      color: white !important;
    }
  }
}
.dashboard-content {
  flex-grow: 1;
  padding: 1em;
}

.dashboard-container {
  display: flex;
}

.goright {
  color: white;
}

.sun-quote-pages{
      border-radius: 50%;
      background-color:$primary-blue;
      width: 2.1em;
      height: 2.1em;
      border: 2px solid transparent;
      transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
      text-align: center;
      padding-top: 3px;
    }

    .sun-quote-pages:hover {
        transform: scale(1.3);
        border: 2px solid $green;
        margin: 2px;
        padding: 2px;
    }


    .wrapper{
      margin-top:50px;
    }
