.tw-card-scroller {
  overflow-y: auto;
  scrollbar-color: #888 #555;
  scrollbar-width: thin;
  margin-bottom: 4px;
  margin-bottom: 4px;

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.twitter-card {
  padding: 5px;
  width: 100%;
  background-color: rgb(249, 249, 249);
  text-align: left;
  border-bottom: solid 2px #e5e5eb;
  width: 310px;
  overflow: hidden;
}

.tweet-avatar {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.tweet-info {
  display: flex;
  justify-content: space-between;
}

.user-data {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.date {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: small;
  p {
    padding-inline: 3px;
  }
}

.user-info {
  display: flex;
  font-size: smaller;
  padding-left: 10px;
}

.name {
  padding-inline-start: 5px;
}

.tweet-text {
  color: inherit;
  margin: 1px;
  font-family: $body-font;
  font-size: small;
}

.btn.card {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: $primary-green;
  padding: 0;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  right: 40px;
  text-align: center;
  &:hover {
    background-color: #7ae1ba !important;
    color: white;
  }
  &:active {
    background-color: #7ae1ba !important;
    color: white;
  }
  &:visited {
    background-color: $primary-green !important;
    color: white;
  }
  img {
    width: 40px;
    height: 40px;
    padding: 3px 5px 5px 5px;
  }
}

.tw-title {
  font-family: $body-font;
}
